# Data Science Tools and Ecosystem
## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Explore commonly used libraries in Data Science
- Demonstrate basic arithmetic expressions in Python
- Convert units of time (e.g., minutes to hours)
- Create and display tables using Markdown

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

### Data Science Tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook    |
| RStudio            |
| Apache Spark       |
| TensorFlow         |
| MATLAB             |

### Below are a few examples of evaluating arithmetic expressions in Python
#### Addition
5 + 3

#### Multiplication
4 * 2

#### Division
10 / 2

#### Exponentiation
2 ** 3

In [19]:
### This a simple arithmetic expression to mutiply then add integers.
result = (3 * 4) + 5
result

17

In [33]:
### This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

DANIEL VASQUEZ